.post {
  background: #212738;
  width: 95%;
  padding: 8pt;
  border-radius: 5pt;
  border: #F8EBCB10 solid 1pt;
  margin-bottom: 20pt;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  position: relative;
  overflow: hidden;
}

.post-header {
  display: flex;
}

.post-left-filler {
  flex: 1;
}

.post-title {
  color: var(--secondary-extra-light);
  font-weight: 500;
  text-align: center;
  padding: 0pt 8pt;
  font-weight: 600;
}

.post-subreddit {
  flex: 1;
  text-align: right;
  color: unset;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  font-weight: 600;
  /* align-items: center; */
}

.post-subreddit-header {
  flex: 1;
  color: var(--primary-light);
  font-weight: 400;
}

.post-content {
  padding: 8pt 0pt;
  display: flex;
  justify-content: center;
  flex: 1;
  max-height: 80vh;

  position: relative;
  overflow: hidden;
}

.post-content-image-wrapper {
  border-radius: 5pt;
  overflow: hidden;
}

.post-content-image {
  width: 100%;
  max-width: 700pt;
  object-fit: contain;
  margin-bottom: -2pt;
  max-height: 80vh;
}

.post-content-video-wrapper {
  border-radius: 5pt;
  overflow: hidden;
}

.post-content-video {
  width: 100%;
  max-width: 700pt;
  object-fit: contain;
  margin-bottom: -2pt;
  max-height: 80vh;
}

.post-content-link {
  border-radius: 5pt;
  overflow: hidden;
}

.post-content-text {
  line-height: 1.2rem;
  text-align: justify;
}

.post-title-only {
  font-size: 20pt;
  color: var(--secondary-extra-light);
}

.post-footer {
  display: flex;
}

.post-votes {
  margin-right: 8pt;
}

.post-share {
  flex: 1;
  text-align: right;
  color: unset;
  text-decoration: none;
}

.vote-img {
  margin-right: 4pt;
  height: 9pt;
}

.share-img {
  margin-right: 4pt;
  height: 9pt;
}

.post-content-wapper {
  flex: 1 0 50%;
}

.comments {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-left: 8pt;
}

.comments > div {
  flex-basis: 0px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}