@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Satisfy&display=swap');

:root {
  --primary-dark: #161A26;
  --primary-light: #E6AF2E;
  --secondary-light: #F8EBCB;
  --secondary-extra-light: #ECECEC;
}

body {
  margin: 0;
  background: var(--primary-dark);
  color: var(--secondary-light);
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}